.warning {
    padding: 10px;
    background-color: #e23d31;
    color: white;
    opacity: 0.85;
    border-radius: 5px;
    margin: 15px;
  }

.closebtn {
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
}

.closebtn:hover {
  color: #362e2e;
}

.action {
  width: 25%;
  margin: 0.5em !important;
}